/*Estilo del formulario de busqueda*/
#frmBusqueda{
    background: linear-gradient(#FFAD00, #FF7F08);
    border-radius: 5px; 
}

.tituloBusqueda{
    padding: 10px;
}

.contenedorOpcionBusqueda{
    padding: 3px 5px;
}

.contenedorOpcionBusqueda:last-of-Type{
    padding: 3px 5px 10px;
}

.labelBusqueda{
    width: 50%;
    font-size: 1em;
}

#frmBusqueda select{
    width: 50%;
    float: right;
}

#btnBuscar{
    background-color: #FFD056;
    margin: 5% 35%;
    width: 30%;
    height: 30px;
}

.inputDate{
    width: 50%;
    float: right;
}
