body
{
    font-family: Andalus;
}

#platos{
	float:left;
	margin-top:12%;
	margin-left:85px;
	width:70%;
	height:30%;
}

#plato
{
	width:40%;

}


header
{
    width: 90%;
    margin-right:auto;
    margin-left:auto;
    padding: 10px;
    overflow:hidden;
    color: #706f6e;
}



#logo
{
    margin:0 auto;
}

#slogan
{
    display: table-cell;
	vertical-align: middle;
    height:200px;
}

#sloganTexto
    {
        margin: 10px 30px auto;
    }

header figure
{
    float: left;
}

#asideIzq
{
    width:20%;
    float:left;
    margin: 10px 10px;
}

#asideDer
{
    width:20%;
    float:right;
    margin: 10px 0 0 10px;
}

#contenedorSlideShow{
    width:75%;
    float: right;
}

footer
{
    clear:both;
    float:left;
}

/*nav ul{
    list-style: none;
    margin: 10px 10px 0px 0px;
    padding: inherit;
    float: left;
    background-color: #FF9900;
    width: 100%;
    list-style: none;
    transition: all .2s ease-in-out;  
}

nav ul li a
{
    text-decoration: none;
    font-family: 'Bookman Old Style';
    color: #706f6e;
    font-size: 1.6em;
    padding-left:15px;
    display:none;
 }*/

.admin
{
    display:none;
}

.adminLocal{
    display:none;
}

.usuario{
    display:none;
}

#contenido
{
	margin-top: 30px;
	padding-top:30px;
    width:75%;
    margin-right: auto;
    margin-left:auto;
    padding: 10px;
    float: right;
}

#contenidoTop3{
    list-style:none;
    margin: 10px 10px;
    padding:0;
    float:left;
}

#contenidoTop3 div{
    margin: 5px 5px 0 5px;
    padding:0;
    float:left;
}

/*CSS Para menu desplegable*/
#menu{
	width: 100%;
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;  
	background: #111;
	background: -moz-linear-gradient(#444, #111); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));	
	background: -webkit-linear-gradient(#444, #111);	
	background: -o-linear-gradient(#444, #111);
	background: -ms-linear-gradient(#444, #111);
	background: linear-gradient(#444, #111);
	-moz-border-radius: 50px;
	border-radius: 50px;
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;
}

#menu li{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
}

#menu a{
	float: left;
	height: 25px;
	padding: 0 25px;
	color: #999;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
    
}

#menu li:hover > a{
	color: #fafafa;
}



#menu li:hover > ul{
	display: block;
}

/* Sub-menu */

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);    
    background: -o-linear-gradient(#444, #111);	
    background: -ms-linear-gradient(#444, #111);	
    background: linear-gradient(#444, #111);	
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul li{
    float: none;
    margin: 0;
    padding: 10px;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#menu ul a{    
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}



*:first-child+html #menu ul a{ /* IE7 */    
	height: 10px;
	width: 150px;
}

#menu ul a:hover{
        background: #0186ba;
	background: -moz-linear-gradient(#04acec,  #0186ba);	
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#ECB404, #BA4401);
}

#menu ul li:first-child a{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after{
    border-bottom-color: #04acec; 
}

#menu ul li:last-child a{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


*:first-child+html #menu { zoom: 1; } /* IE7 */

#menu ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after{
    border-bottom-color: #04acec; 
}


/*Redes sociales en nav*/

.textindent {
display: block;
text-indent: -9999px;
overflow: hidden;
}

.social-fb {
    width: 25px;
    height: 25px;
    background: url(../imagen/social-sprite-fb.png) 25px 0px no-repeat;
}

.social-tw {
width: 25px;
height: 25px;
background: url(../imagen/social-sprite-tw.png) 25px 0px no-repeat;
}

.social-em {
width: 25px;
height: 25px;
background: url(../imagen/social-sprite-gp.png) 25px 0px no-repeat;
}

#menu .redesSociales {
float: right;
}

#inicioSesion, #cierroSesion{
    float: right;
}

/*LOGIN en nav*/
#user-login-form {
  text-align: center;
}
#user-login-form ul {
  text-align: left; /* LTR */
  width: 180px;
  padding: 0;
  margin: 0 0 0.75em 0;
}

.login-error{
color:red;
font-size:13px;
left:104px;
position:absolute;
text-align:right;
top:10px;
*top:12px;
_top:12px;
_left:97px;
_width:186px;
}

/* Login popup */  
  
a.login, a.logout{
display: block;
float: right;
font-family:"Trebuchet MS",Arial;
font-size:13px;
text-decoration:none;
padding: 6px 12px 6px 12px;
font-weight: bold;
color: #266b5d;
font-variant: small-caps;
/*border:1px solid #bcd9cf;
border-top: none;
background: #dfeee9;
-moz-border-radius-bottomleft: 4px;
-moz-border-radius-bottomright: 4px;
-webkit-border-bottom-right-radius:4px;
-webkit-border-bottom-left-radius:4px;*/
}

a.login:hover, a.logout:hover{
/* background: #cae3db; */
color: #1d2920;
}

.loginform{
position: absolute;
right:0;
top:280px;
width:305px;
background: transparent url(../imagen/login_pop2.png) no-repeat top center;
_background: transparent url(../imagen/login_pop2.png) no-repeat top center !important;
display: none;
z-index: 999;
}


.loginform form{
padding:23px;
overflow: hidden;
position:relative;
*padding-top:33px;
*padding-bottom:28px;
*overflow: inherit;
_padding-top:30px;
_height:1%;
}



.loginform span.form-required{
display: none;
}

.loginform .item-list ul{
float: left;
}

.loginform .item-list{
padding-top: 7px;
overflow: hidden;
_padding-top:15px;
}

.loginform .item-list li a{
font-size: 14px;
_letter-spacing:-1px;
float:left;
display: block;
}

.loginform .item-list li a.gi-user-register{
padding-right: 8px;
color: #d56206;
}

.loginform .item-list ul li{
float: left;
padding: 0px;
margin: 0px;
list-style-type: none;
list-style-image: none;
display: list-item;
text-align: -webkit-match-parent;
}

.loginform .form-item{
overflow: hidden;
margin: 8px 0px;
clear: both;
_padding:4px 0px;
_margin:0px;
}

.loginform .form-item label{
float: left;
color: #5c7a72;
font-size: 13px;
padding-top: 6px;
}

.loginform .form-item input.form-text{
border-width: 1px;
background: #eff7f9;
float: right;
width:156px;
}

.loginform .form-item input.form-text:hover, .loginform .form-item input.form-text:focus{
background: #FFF;
}

.loginform .form-submit{
padding: 3px 4px;
float: right;
font-variant: small-caps;
font-family: Arial, "Trebuchet MS", Helvetica;
color: #e5eae9;
border: none;
/*width:72px;*/
height: 27px;
_position:absolute;
_right:22px;
_top:106px;
background: linear-gradient(#444, #111);
-moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 0 2px 1px #9c9c9c;
-webkit-box-shadow: 0 2px 1px #9c9c9c;
box-shadow: 0 2px 1px #9c9c9c;
}

/*.loginform .form-submit:hover{
color: #FFF;
background:url(images/login_btn_o.gif);
}*/
